node_modules
dist
.DS_Store
yarn-error
package-lock.json
dist.zip
yarn-error.log
optimizedImagesHash.txt
optimizedImages
./src/assets/images/corpteam
babelCache
cacheLoaderCache
imageCache
terserCache
yarnCache
.vs
.vscode
cypress/videos
cypress/screenshots
coverage
.env
.enum_manifest.json
.src_manifest.json
.source_strings.json
src/translatedFbts.json
